.bg-faded {
  background-color: $main_blue;
}



.main_header {
  width: 100%;
  padding: 15px;
  background: $main_blue;

  ul {
    margin: 0;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin: 0;
  }

  img {

  }
}

.navbar {
  position: static;
  color: #fff;
  height: 52px;

  div {
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
    transform: scale(.85);
  }

  .popup {
    transform: scale(1);
    transition: .2s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $main_blue;
    z-index: 9998;
  }

  .nav {
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;

    .nav-item {
      text-align: center;

      p {
        color: $error_color;
      }
    }
  }
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler {
  z-index: 9999;
  outline: none;
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/burger.svg);
}
