.sign_up {
  background: $main_blue;
  height: 100vh;
  // background-image: url('../img/bg_art.svg');
  // background-position: center;
  // background-repeat: no-repeat;

  .login_logo {
    width: 120px;
    margin-top: 20px;
  }

  .container {
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


    form {
      width: 100%;
      max-width: 90%;

      input {
        padding: 50px 20px 20px 20px;
        font-family: $font_bold;
        color: $blue_text;
        font-size: 18px;
        position: relative;
        background: #fff;
        margin-bottom: 1.25rem;
        @include border;
      }

      input:focus {
        outline: none !important;
      }

      input:focus::-webkit-input-placeholder {
        transition: all .2s ease-in-out;
        font-size: 16px;
        opacity: .7;
        transform: translateY(-40px);
      }
    }
  }
}
