#my_order {
  padding-top: 10px;
  margin-bottom: 280px;
  .col-12 {
    padding: 0;
  }

  .pending_order {

    .row {
      margin-left: auto;
      margin-right: auto;
    }

    .col-3 {

    }

    .quantity {
      width: 60px;
      height: 60px;
      background: #fff;
      border-radius: 100%;
      position: relative;

      div {
        width: 1px;
        height: 200px;
        background: #979797;
        position: absolute;
        left: 50%;
        z-index: -1;
      }

      &:before {
        position: relative;
        width: 1px;
        height: 200px;
        background: #979797;
      }

      span {
        @include centerer;
        font-family: $font_light;
        font-size: 20px;
      }
    }

    margin-top: 20px;
    h2 {
      margin-bottom: 0;
    }

    p {
      font-size: 24px;
      font-family: $font_light;
      margin-bottom: 0.5rem;
    }

    .btn {
      margin-right: 10px;
      font-size: 14px;
      padding: 8px 12px;
    }
  }

  .pending_total_order {
    position: fixed;
    bottom: 70px;
    background: $main_blue;
    color: #fff;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
      font-family: $font_light;
      text-transform: uppercase;

      span {
        font-family: $font_bold;
        text-transform: lowercase;
      }
    }
  }

  .order_empty {
    text-align: center;
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;

    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p {
      width: 100%;
      max-width: 70%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 40px;
    }


  }
}
