.navigation {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 12px 0px 5px 0px;
  bottom: 0;
  z-index: 999;

  .count_items {
    background: $main_red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    width: 25px;
    height: 25px;

    span {
      color: #fff;
      font-size: 12px;
      line-height: 0
    }
  }

  ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    a {
      text-align: center;
      opacity: .5;
      transition: .2s ease-in-out;
      text-decoration: none;
    }

    .order_link {
      opacity: 1;
    }

    .active {
      opacity: 1;

      .order_btn {
        background: #fff;
        box-shadow: 0 0 6px 0 rgba(0,0,0,.18);
        .order_icon_dark {
          opacity: 1;
          visibility: visible;
        }

        .order_btn_light {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    li {
      color: $text_color;
      @include font-regular;
      text-decoration: none;
    }
  }

  .order_btn {
    width: 84px;
    height: 84px;
    border-radius: 100%;
    background: $main_blue;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: .5s cubic-bezier(0.54, -0.59, 0.26, 1.59);
    // transition-delay: .8s;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .order_icon_dark {
      opacity: 0;
      visibility: hidden;
    }
  }

  .notify {
    background: rgba($main_color, .85);
    // background: rgba($main_blue, .75);
    transform: translate(-50%, -50%) scale(1.1);
    // animation: border 3s ease 1 forwards;
    // cursor: none;
  }
}


// @keyframes border{
//   0% {
//     box-shadow: 60px -60px 0 2px transparent, -60px -60px 0 2px transparent, -60px 60px 0 2px transparent, 60px 60px 0 2px transparent, 0 0 0 2px $main_blue;
//   }
//   25% {
//     box-shadow: 0 -125px 0 2px transparent, -60px -60px 0 2px transparent, -60px 60px 0 2px transparent, 60px 60px 0 2px transparent, 0 0 0 2px $main_color;
//   }
//   50% {
//     box-shadow: 0 -125px 0 2px transparent, -125px 0px 0 2px transparent, -60px 60px 0 2px transparent, 60px 60px 0 2px transparent, 0 0 0 2px $main_color;
//   }
//   75% {
//     box-shadow: 0 -125px 0 2px transparent, -125px 0px 0 2px transparent, 0px 125px 0 2px transparent, 60px 60px 0 2px transparent, 0 0 0 2px $main_color;
//   }
//   100% {
//     box-shadow: 0 -125px 0 2px transparent, -125px 0px 0 2px transparent, 0px 125px 0 2px transparent, 120px 40px 0 2px transparent, 0 0 0 2px $main_color;
//   }
// }
