.payment {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: #fff;

  .container {
    z-index: 1;
    text-align: center;
    padding-top: 80px;

    h2 {
      color: #fff;
      @include font-regular;
    }

    .payment_option {
      margin-top: 40px;
    }

    .payment_option_bg {
      width: 180px;
      height: 64px;
      background: #fff;
      position: relative;
      border-radius: 50px;
      margin: 0 auto;
      margin-top: 20px;

      &:nth-child(2) {
        opacity: .2;
      }

      img, span {
        @include centerer;
        font-size: 28px;
      }
    }

    .kass_bg {

      img {
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
      }

    }

    .kass_selected {
      background: $main_color;
      transition: .2s ease-in-out;
      img {
        &:nth-child(2) {
          opacity: 1;
          visibility: visible;
        }

        &:nth-child(1) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  .payment_shape {
    @include shape-radius;
  }

  .payment_shape_inner {
    @include shape-radius-inner;
    transform: translateX(-50%);
  }
}

.payment_submit {

  .payment_loading {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;

    p {
      color: #fff;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      margin-top: 40px;
    }

    .payment_loading_bg {
      background: $error_color;
      p {
        padding: 80px 20px 20px 20px;
        @include font-semibold;
        margin-top: 0;;
      }
    }
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .form-group {
      max-width: 80%;
      margin: 0 auto;
    }

    input {
      padding: 30px 15px 15px 15px;
      @include font-semibold;
      color: $blue_text;
      font-size: 18px;
      position: relative;
      background: #fff;
      margin-bottom: 1.25rem;
      @include border;
    }

    input:focus {
      outline: none !important;
    }

    input:focus::-webkit-input-placeholder {
      transition: all .2s ease-in-out;
      font-size: 16px;
      opacity: .7;
      transform: translateY(-25px);
    }
  }

  .payment_status {
    color: #fff;
    z-index: 1;
    position: relative;
    text-align: center;

    // .payment_status_success, .payment_status_error {
    //   padding: 60px 0;
    //
    //   div {
    //     font-size: 24px;
    //     @include font-semibold;
    //     margin-bottom: 40px;
    //   }
    //
    //   p {
    //     font-size: 24px;
    //     @include font-regular;
    //   }
    // }

    .payment_status_success {
      .payment_status_success_bg {
        background: $main_color;

        p {
          color: #fff;
          padding: 60px 20px 20px 20px;
          margin-top: 0;
          @include font-semibold;
        }
      }
    }

    .payment_status_error {
      .payment_status_error_bg {
        background: $main_red;

        p {
          color: #fff;
          padding: 60px 20px 20px 20px;
          margin-top: 0;
          @include font-semibold;
        }
      }
    }

    p {
      color: #fff;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      margin-top: 40px;
    }
  }
}


.counter {
  width: 0;
  transition: 92s ease-in-out;
  height: 2px;
  background: #FFECB9;
}

.counter_active {
  width: 100%;
}
