@import '../mixins';
@import '../variables';

.promo_offers {
  position: relative;
  overflow: hidden;
  // border-left: 8px solid $main_color;
}

.promo_offers .promo_bg {
  max-height: 500px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

// .promo_overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // background-color: rgba(16, 85, 106, .8);
//   background-color: rgba(0, 0, 0, .6);
// }

.promo_bg img {
  width: 100%;
  margin: 0 auto;
  height: 280px;
}

.promo_svg {
  float: left;
  padding-right: 8px;
}

.promo_offers .promo_content {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-51%, -50%);
  text-align: center;
  width: 100%;
  max-width: 78%;
}

.promo_content h2, .promo_content p {
  color: #fff;
  font-family: 'Krit-Medium';
}

.promo_content h2 {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 400;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.promo_content p {
  font-size: 22px;
  font-weight: 200;
}

.promo_content button {
  color: #000;
  background-color: #fff;
  margin: 35px 0px 0px 0px;
  font-weight: 400;
  height: 60px;
  padding-bottom: 20px;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 70px;

//   .product {
//     width: 100%;
//     margin-top: 30px;
//
//     .product_img {
//       height: 200px;
//       overflow: hidden;
//       position: relative;
//       z-index: 1;
//       @include border;
//
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//
//     .product_info {
//       background: #fff;
//       padding: 20px;
//       margin-top: -20px;
//       position: relative;
//       @include border;
//
//       h2 {
//         padding-top: 20px;
//         width: 100%;
//         max-width: 80%;
//         display: inline-block;
//       }
//
//       a img {
//         float: right;
//         padding-top: 28px;
//       }
//     }
//   }
// }
//
// .product_btn {
//   background: $main_red;
//   padding: 10px 20px;
//   margin-top: -15px;
//   @include border;
//
//   ul {
//     display: flex;
//     justify-content: space-between;
//     align-items: baseline;
//     margin-bottom: 0;
//   }
//
//   li {
//     color: #fff;
//     font-size: 18px;
//     padding-top: 10px;
//     &:nth-child(2) {
//       font-size: 24px;
//     }
//   }

  .product_item {
    position: relative;
    .product_img {
      height: 240px;

      .notification {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(255,255,255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        transition: .15s ease-in-out;

        img {
          width: auto;
          height: auto;

          &:first-of-type {
            margin-bottom: 40px;
          }

          &:last-of-type {
            transform: translateY(-10px);
            transition: .2s ease-in-out;
            transition-delay: .1s;
          }
        }
      }

      .visible {
        opacity: 1;
        visibility: visible;

        img {
          &:last-of-type {
            transform: translateY(0);
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .product_info {
      position: absolute;
      bottom: 10px;
      left: 20px;
      color: #fff;
      width: 100%;
      max-width: 60%;

      h2, p {
        margin: 0;
        padding: 0;
        color: #fff;
      }

      p {
        font-size: 24px;
        @include font-light;
      }
    }

    .product_order {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }
}


@media screen and (min-width: $screen-sm) {
  .product_container {
    .product_item {
      width: 50%;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .product_container {
    .product_item {
      width: 33.3333%;
    }
  }
}

.product_gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .82) ,transparent);
}


.main-order-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
    padding-right: 15px;
    @include font-regular;

    span:first-of-type {
      padding-bottom: 6px;
      font-size: 18px;
    }
}
