.btn {
  cursor: pointer;
  width: 100%;
  border: none;
  font-family: $font_bold;
  @include border;
  color: #fff;
}

.btn-danger {
  background: $error_color;
  font-size: 20px;
  padding: 20px 0 10px 0;
  margin-top: -15px;
}

.btn-primary {
  background: $main_red;
  font-size: 20px;
  padding: 20px 0 10px 0;
  margin-top: -15px;
}

.btn-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  background: $main_red;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
  background-color: #F76065;
  border: none;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background-color: #FFC42F;
  border: none;
}
