.btn {
  cursor: pointer;
  border: none;
  @include font-semibold;
  @include border;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10 15px;
}

.main-btn {
  padding: 10px 30px 20px 30px;
  @include font-regular;
  font-size: 20px;

  span {
    display: block;
  }
}

.btn-success {
  font-size: 16px;
  background-color: $main_color;
  // font-family: $font_regular;
}
.btn-success.disabled, .btn-success:disabled {
  background-color: $main_color;
  border-color: $main_color;
  opacity: .5;
}

.btn-danger {
  background: $main_red;
  // font-size: 20px;
}

.btn-primary {
  // background: $main_red;
  background: $main_color;
  // font-size: 20px;
  // padding: 20px 0 10px 0;
  // margin-top: -15px;
  // width: 100%;
}

.btn-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  background: $main_red;
  width: 100%;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
  background-color: #F76065;
  border: none;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background-color: #FFC42F;
  border: none;
}
