@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin border {
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
}

@mixin font-light {
  font-family: 'canada-type-gibson';
  font-weight: 300;
}

@mixin font-regular {
  font-family: 'canada-type-gibson';
  font-weight: 400;
}

@mixin font-semibold {
  font-family: 'canada-type-gibson';
  font-weight: 600;
}

@mixin shape-radius {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  top: 0;
  left: -41%;
  bottom: -2px;
  width: 180%;
  background-color: #343845;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top: 0;
  overflow: hidden;
  bottom: 25px;
}

@mixin shape-radius-inner {
  position: absolute;
  left: 50%;
  bottom: -10px;
}
