@import 'incl/normalize';
@import 'incl/variables';
@import 'incl/mixins';
@import 'incl/buttons';

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  font-family: 'canada-type-gibson';
  -webkit-font-smoothing: antialiased;
  background-color: $bg_color;
}

.logo {
  position: absolute;
  top: .7rem;
  left: 1.45rem;
  z-index: 1;
}

h2 {
  font-size: 24px;
  color: $text_color;
  @include font-semibold;
}

p {
  @include font-regular;
  font-size: 18px;
  color: $text_color;
}

// .container {
//   width: 100%;
//   max-width: 90%;
//   margin: 0 auto;
// }

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
}

.spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  background: #343845;
  z-index: 9999;
  transition: 2s ease-out;

  img {
    &:nth-child(1) {
      animation: .85s linear infinite rotate;
      // animation-delay: .45s;
    }

    &:nth-child(2) {
      @include centerer;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.not_found {
  h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }

  .not_found_emoji {
    font-size: 60px;
  }
}
@import 'incl/partials/partials';


.example-appear {
  opacity: .07;
  transform: scale(.3);
}

.example-appear.example-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .25s ease-in;
  transform: scale(1);
}
