@import 'incl/normalize';
@import 'incl/variables';
@import 'incl/mixins';

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: $font_bold;
  -webkit-font-smoothing: antialiased;
  background-color: $bg_color;
}

h2 {
  font-size: 24px;
}

p {
  font-family: $font_regular;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*height: 100vh;*/
}

.spinner span {
  display: block;
  height: 20px;
  width: 20px;
  background: #FF5A5F;
  border-radius: 50%;
  position: absolute;
  top: 100%;
}

.spinner span:nth-child(1) {
  left: -40px;
  animation: bounce 1s ease-in-out infinite;
}
.spinner span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}
.spinner span:nth-child(3) {
  left: 40px;
  animation: bounce 1s ease-in-out 0.66s infinite;
}

// @import 'incl/partials/product_list';
@import 'incl/partials/partials';
